<div class="container">
  <div id="banner">
    <img src="/images/banner.png" />
  </div>

  <ul class="foxes">
    <li class="fox1" style="top: 40px;">&nbsp;</li>
    <li class="fox2" style="top: 27px;">&nbsp;</li>
    <li class="fox3" style="top: 55px;">&nbsp;</li>
    <li class="fox4" style="top: 50px;">&nbsp;</li>
    <li class="fox5" style="top: 75px;">&nbsp;</li>
    <!-- <li class="fox6" style="top: 100px;">&nbsp;</li> -->
    <!-- <li class="kb" style="top: 85px;">&nbsp;</li> -->
    <li class="dv" style="top: 115px;">&nbsp;</li>
  </ul>
  
  <div id="conveyor">
    <img src="/images/conveyor.png" />
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var conveyor = null;
  var statsUpdater = null;
  
  document.observe('dom:loaded', function() {
    $$('ul.foxes li').invoke('hide');
    conveyor = new Conveyor('conveyor', '<%= request.protocol + request.host %>');
    statsUpdater = new Ajax.PeriodicalUpdater('', '<%= absolute_url(:cartoon_foxes) %>', {method: 'get'});
  });
</script>